@charset "UTF-8";

/* configurações */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html{
    width: 100vw;
    height: 100vh;
}

/* inicio */

body{
    background-color: rgb(31, 117, 180);
}

#container{
    position: absolute;
    background-color: rgb(250, 184, 62);
    border-radius: 10px 20px;
    height: 230px;
    width: 300px;
    box-shadow: 1px 1px 10px black;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.info1{
    position: absolute;
    width: 120px;
    border-radius: 5px;

    top: 30%;
    left: 5%;
}

.info2{
    position: absolute;
    width: 120px;
    border-radius: 5px;

    top: 30%;
    left: 55%;
}

.info3{
    position: absolute;
    background-color: rgb(54, 255, 84);
    padding: 10px;
    border-radius: 10px;
    width: 120px;

    top: 60%;
    left: 30%
}

.info4{
    position: absolute;

    top: 63.4%;
    left: 58%;
}

.def1{
    position: absolute;

    top: 19.5%;
    left: 7%;
}

.def2{
    position: absolute;

    top: 19.5%;
    left: 58%;
}